@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Average+Sans&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.card {
    display: flex;
    flex-direction: row;
    padding: 10px 15px 12px 0px;
    justify-content: space-between !important;
    border: 1px solid #febd2f;
    border-radius: 0px;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ordernowmini {
    display: none;
}

@media all and (max-width:400px) {
    .container {
        padding: 0 20px !important;
    }

    .card {
        display: flex;
        flex-direction: column !important;
        padding: 10px 0px 12px 0px !important;
        justify-content: center;
        border: 1px solid #febd2f;
        border-radius: 0px;
        align-items: center;
        width: 100%;
    }

    .card-icons {
        position: absolute;
        top: -5px !important;
        left: 8px;
        opacity: 1 !important;
        transition: 0.2s ease-in-out;
    }

    .card-img img {
        width: 200px !important;
        height: auto !important;
        padding-left: 30px !important;
        padding-top: 10px;
    }

    .container {
        padding: 0 15% !important;
    }

    .addcart {
        background-color: #febd2f;
        padding: 5px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        width: 45% !important;
        font-family: "Alatsi", sans-serif;
        align-self: last baseline;
    }

    .viewcart {
        font-size: 14px;
        width: 45% !important;
    }

    .ordernowmini:hover {
        background-color: black;
        color: white;
    }

    .ordernow {
        display: none;
    }

    .ordernowmini {
        display: block;
        background-color: #febd2f;
        padding: 5px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        width: 45%;
        font-family: "Alatsi", sans-serif;
        align-self: last baseline;
    }

    .product-btn {
        display: flex;
        width: 100%;
        padding: 0 10px;
        justify-content: space-around;
    }

    .details {
        width: 100%;
        display: block;
        text-align: center;
    }

    .product-price {
        margin-right: 0 !important;
    }

    .select {
        width: 60% !important;
    }

    .card-icons {
        position: absolute;
        top: -17px;
        right: 7px;
        left: auto !important;
        opacity: 0;
        transition: 0.2s ease-in-out;
    }

    .card-icons>div i {
        font-size: 17px !important;
    }

    .card-icons>div {
        background-color: #febd2f;
        padding: 4px 5px 4px 6px !important;
        margin-top: 5px;
        cursor: pointer;
    }
}


.product-head {
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.product-price {
    font-size: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-weight: 700;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}

.product-price .span {
    font-size: 10px;
    margin-left: 5px;
    text-decoration: line-through rgba(0, 0, 0, 0.521);
    font-weight: 300;
}

.select {
    width: 80%;
    cursor: pointer;
    border-radius: 30px;
    padding: 1px 10px;
    font-size: 14px;
}

.select option {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.viewcart {
    background-color: rgb(10, 250, 30);
    padding: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    width: 80%;
    font-family: "Alatsi", sans-serif;
}


.addcart {
    background-color: rgb(250, 10, 10);
    padding: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    width: 80%;
    font-family: "Alatsi", sans-serif;
    color: white;
}

.product-btn {
    width: 100%;
}

.addcart:active {
    background-color: black;
    color: white;
}

.viewcart:active {
    background-color: black;
    color: white;
}

.ordernow {
    background-color: #febd2f;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    width: 80%;
    font-family: "Alatsi", sans-serif;
    align-self: center;
}

.ordernow:hover {
    background-color: black;
    color: white;
}

.card-img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7px;
}

.card-icons {
    position: absolute;
    top: -17px;
    left: 7px;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.card-img img {
    width: 150px;
    height: 90px;
    padding-left: 20px;
    padding-top: 10px;
}

.card-icons>div {
    background-color: #febd2f;
    padding: 0px 2px 0px 3px;
    margin-top: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.card-icons>div i {
    font-size: 13px;
}


.card:hover .card-icons {
    opacity: 1;
    transition: 0.2s ease-in-out;
}



/* Register */

.register-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
    top: 0;
    background: linear-gradient(rgba(0, 0, 2, 0.644), rgba(1, 1, 95, 0.219)), url('/Images/main-banner.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;

}

.register {
    background-color: #febd2f;
    z-index: 20;
    font-size: 15px;
    padding: 15px 35px;
    width: 340px;
}

.register h3 {
    font-size: 20px;
    font-family: "Alatsi", sans-serif;
    text-align: center;
}

.register h4 {
    font-size: 16px;
}

.register input {
    border: 1px solid black;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    padding: 3px;
    width: 100%;
}

.signin {
    background-color: #092122;
    padding: 5px 10px;
    text-align: center;
    width: 40%;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}

.signin:hover {
    opacity: 0.9;
}

.register-cancel {
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
    font-size: 20px;
}


.error {
    font-size: 10px;
    color: red;
}

.navibtn {
    background-color: #092122;
    color: #fff;
    padding: 2px 10px;
    border-radius: 0px;
    border: none;
    outline: none;
    text-decoration: none;
}

.navi {
    font-size: 12px;
    text-align: center;
}

.d-none {
    display: none;
}

.backend-error {
    text-align: center;
    font-size: 13px;
    color: rgb(216, 0, 0);
}


/* view mycart */

.viewmycart {
    background-color: #fff;
    font-family: "Kanit", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
    align-items: baseline;
}

@media all and (max-width:768px) {
    .viewmycart {
        flex-direction: column;
        width: 100%;
    }

    .viewmycart-footer {
        width: 100% !important;
        position: static !important;
        border: 1px solid #24221fa1;
        padding: 20px;
    }

    .viewmycart .viewpart1 {
        width: 100% !important;
    }

    .mycart-content {
        margin: 10px 0;
        border: 1px solid rgba(43, 42, 42, 0.575);
        color: rgba(5, 0, 0, 0.87);
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around !important;
        padding: 10px !important;
        font-size: 12px !important;
        gap: 0px !important;
        width: 100%;
    }

    .mycart-details {
        flex-direction: column !important;
        align-items: center !important;
    }

    .plus,
    .minus {
        cursor: pointer;
        font-size: 16px !important;
    }

    .mycart-increment {
        font-size: 14px !important;

    }

    .mycart-part-1 {
        display: flex;
        align-items: center !important;
        flex-direction: column;
        gap: 0px !important;
        width: 50% !important;
    }

    .trash {
        color: red;
        position: absolute;
        font-size: 18px !important;
        cursor: pointer;
        bottom: 5px;
    }

    .mycart-img {
        border: none !important;
        align-content: center;
        position: absolute;
        left: 5px;
    }

}

.viewmycart-footer {
    width: 30%;
    position: sticky;
    right: 0;
    border: 1px solid #24221fa1;
    padding: 20px;
}

.viewmycart-footer-price {
    display: flex;
    justify-content: space-around;
}

.viewmycart .viewpart1 {
    width: 50%;
}

.viewcart-content-parent {
    padding-bottom: 0px;
}






/* mycart */


.proceedcart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.proceed {
    background-color: #febd2f;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    width: 70%;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    font-family: "Alatsi", sans-serif;
}

.proceed:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
}






.mycart-content {
    margin: 10px 0;
    border: 1px solid rgba(43, 42, 42, 0.575);
    color: rgba(5, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: 15px;
    gap: 30px;
    width: 100%;
    font-family: "Roboto", sans-serif;

}

.mycart-part-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 35%;
}

.mycart-content img {
    width: 80px;
}

.mycart-img {
    border: 1px solid rgba(32, 31, 31, 0.63);
    height: 90px;
    align-content: center;
}

.mycart-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.mycart-title {
    font-weight: 400;
    color: black;
}



.trash {
    color: red;
    font-size: 16px;
    align-self: flex-end;
    cursor: pointer;
    margin-left: auto;
    border-radius: 100px;
}

.trash:active {
    opacity: 0.4;
}

.plus,
.minus {
    cursor: pointer;
    font-size: 20px;
}

.mycart-increment {
    display: flex;
    border: 1px solid rgba(32, 31, 31, 0.63);
    justify-content: space-between;
    padding: 0px 7px;
    align-items: center;
    font-size: 17px;
}

.mycart-increment>div {
    padding: 0 5px;
}



/* OrderNow Page */

.ordernowpage {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 15;
    top: 0;
    background-color: #fff;
}

.ordernowpage .orderlogo {
    padding: 20px 10rem;
    background-color: #0d2020;
}

.ordernowpage-details {
    padding: 20px 10rem;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.orderdetails {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.orderdetails input,
.orderdetails textarea,
.orderdetails select {
    width: 100%;
    padding: 5px;
    border: solid 1px rgba(82, 94, 82, 0.582);
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.orderdetails input:focus,
.orderdetails textarea:focus,
.orderdetails select:focus {
    outline: 1px solid rgb(4, 150, 248);
}


.orderdetails textarea::-webkit-scrollbar {
    overflow-y: hidden;
}

.orderdetails input::placeholder,
.orderdetails textarea::placeholder {
    font-size: 15px;
}

.orderdetails-head {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.orderdetails .ordercity {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ordercity>div {
    width: 49%;
}

.creditcard-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #ebf8ce;
}

.creditcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(232, 248, 243, 0.692);
    border: 1px solid rgba(4, 129, 187, 0.945);
    padding: 15px;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}

.card-inputs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    border: 1px solid rgba(199, 178, 178, 0.815);
    border-top: none;
}

.card-inputs input {
    border: 1px solid rgba(199, 178, 178, 0.815);
}

.card-date {
    display: flex;
    justify-content: space-between;
}

.creditcard-header i {
    font-size: 20px;
}

.card-date>div {
    flex-basis: 49%;
}

.card-inputs input:focus {
    outline: 2px solid rgb(0, 68, 255);
    border: 1px solid rgba(199, 178, 178, 0.096);
}

.paynow {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    padding: 7px;
    background-color: rgba(0, 17, 255, 0.932);
}

.order-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
    position: sticky;
    top: 100px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 5px 5px 10px 4px #cac9c6de;
    border-radius: 2px;
}


.order-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.order-img img {
    width: 250px;
}



@media all and (max-width:768px) {
    .ordernowpage {
        position: static !important;
    }

    .ordernowpage .orderlogo {
        padding: 10px 10rem;
        background-color: #0d2020;
        display: none;
    }

    .ordernowpage-details {
        padding: 10px 20px !important;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-top: 0px !important;
    }


    .orderdetails {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }








    .card-date {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .card-date input::placeholder {
        font-size: 14px;
    }

    .card-date>div {
        width: 44% !important;
    }

    .order-product {
        display: flex;
        flex-direction: row !important;
        gap: 20px !important;
        align-self: flex-start;
        position: static !important;
        margin-top: 10px !important;
        padding: 10px !important;
        box-shadow: none;
        border-radius: 5px;
    }


    .order-details {
        display: flex;
        flex-direction: column;
        gap: 0px !important;
        font-size: 16px !important;
    }

    .order-img img {
        width: 150px;
    }

}


@media all and (max-width:1100px) {
    .ordernowpage .orderlogo {
        padding: 20px 40px !important;
        background-color: #0d2020;
    }

    .ordernowpage-details {
        padding: 30px !important;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

}

/* user profile */

.userprofile {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
}

.userprofile>div {
    border: 1px solid #febd2f;
}


.user-details-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    width: 35%;
    align-items: center;
}

.user-details-box .div-details {
    width: 100%;
}

.user-img {
    position: relative;
    border-radius: 50%;
    border: 3px solid rgb(7, 98, 202);
    padding: 5px;
}

.user-img img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}

.uploadfile {
    display: none;
    /* Hide the file input */
}

.img-edit {
    position: absolute;
    bottom: 6px;
    right: 25px;
    color: rgb(104, 255, 3);
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    font-size: 12px;
    padding: 10px;
}


.user-edit-details {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
}

.edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.edit-header i {
    font-size: 15px;
}


.edit-input input,
.edit-input textarea {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    border: 1px solid #212929e3;
}

.save-profile {
    width: 100%;
    font-size: 20px;
}


.btns-userprofile {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: auto;
}

.btns-userprofile>div {
    padding: 7px 20px;
    background-color: #0ab8fd;
    font-family: "Kanit", sans-serif;
    cursor: pointer;
}

.btns-userprofile>div:hover {
    background-color: black;
    color: white;
}

.user-cart-btn {
    background-color: rgb(74, 255, 3) !important;
}

.user-cart-btn:hover {
    background-color: black !important;
    color: white;
}

.user-details-box h1 {
    font-weight: 500;
}

.edit-input {
    opacity: 0.5;
}

.input-opacity {
    opacity: 1 !important;
}

.profile-edit-btn {
    cursor: pointer;
}

.your-orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.go-shopping {
    background-color: rgb(255, 196, 0);
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
}

.go-shopping:hover {
    background-color: black;
    color: white;
}

@media all and (max-width:768px) {
    .userprofile {
        display: flex;
        flex-direction: column !important;
        padding: 30px;
        gap: 25px;
        justify-content: center !important;
    }

    .userprofile>div {
        border: 1px solid #febd2f;
    }

    .user-details-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 30px;
        width: 100% !important;
        align-items: center;
    }

    .user-img img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .user-edit-details {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }

    .edit-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        font-weight: 500;
    }

    .edit-header i {
        font-size: 15px;
    }

    .btns-userprofile {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
        font-size: 14px;
    }

    .your-orders {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        gap: 30px;
    }

}

/* see more btn */

.see-more {
    font-size: 25px;
    text-align: right;
    padding: 0px 7.5rem;
    padding-bottom: 100px;
    position: relative;
    font-family: "Kanit", sans-serif;
}

.see-more-btn {
    position: absolute;
    right: 7.5rem;
    width: 140px;
    cursor: pointer;
}

.see-more-btn:hover {
    opacity: 0.8;
}

.see-more-btn i {
    font-size: 20px;
}

@media all and (max-width:768px) {
    .see-more {
        font-size: 16px;
        text-align: right;
        padding: 0px 7.5rem;
        padding-bottom: 60px;
        position: relative;
    }

    .see-more-btn i {
        font-size: 13px;
    }

    .see-more-btn {
        position: absolute;
        right: 3rem;
        width: 110px;
        cursor: pointer;
    }

    .see-more-btn:hover {
        opacity: 0.8;
    }
}


/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #0d2020;
    color: #febd2f;
    padding: 50px 5rem;
    font-size: 15px;
    text-align: justify;
    align-items: baseline;
    font-family: "Roboto", sans-serif;
}

.footer-logo h3 {
    font-size: 26px;
    margin: 10px 0px;
    font-family: "Kanit", sans-serif;
}

.footer-logo {
    width: 35%;
    text-align: justify;
}

.footer-share {
    width: 30%;
}

.footer h2 {
    font-size: 22px;
    font-family: "Kanit", sans-serif;
    margin-bottom: 10px;
}

.footer-shop>div,
.footer-account>div {
    margin: 5px 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}



.footer-shop>div:hover,
.footer-account>div:hover {
    opacity: 0.9;
    transform: scale(1.1, 1.1);
    transition: 0.2s ease-in-out;
}

@media all and (max-width:768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #0d2020;
        color: #febd2f;
        padding: 30px;
        font-size: 15px;
        text-align: justify;
        align-items: baseline;
        gap: 25px;
    }

    .footer-logo h3 {
        font-size: 26px;
        margin: 10px 0px;
    }

    .footer-logo {
        width: 100%;
        text-align: justify;
    }

    .footer-share {
        width: 100%;
    }

}



/* subscribe */


.subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0, 20, 17, 0.781), rgba(1, 34, 28, 0.548)), url('/Images/email-banner.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 5rem;
    color: #fff;
    font-family: 20px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    /* font-family: "Average Sans", sans-serif; */
}

.subscribe-details {
    width: 50%;
}

.subscribe-head {
    font-size: 45px;
    margin: 0;
    color: #febd2f;
    font-family: "Average Sans", sans-serif;
    font-weight: 600;
}

.subscribe-head-2 {
    font-size: 40px;
    font-family: "Average Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

.subscribe-logo {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.subscribe-email {
    width: 42%;
}

.subscribe-email div {
    font-family: "Average Sans", sans-serif;
}

.subscribe-email input {
    border: 1px solid #febd2f;
    background-color: transparent;
    color: #febd2f;
    outline: none;
    padding: 8px 10px;
    width: 100%;
}

.subscribe-input {
    display: flex;
    margin: 30px 0;
    align-items: center;
    width: 100%;
}

.subscribe-input .subscribe-input-box {
    width: 100%;
}

.subscribe-email input::placeholder {
    color: #febd2f;
}

.subscribe-input button {
    border: 1px solid #febd2f;
    outline: none;
    background-color: #febd2f;
    color: #000;
    padding: 8px 10px;
    font-family: "Kanit", sans-serif;
}



@media all and (max-width:768px) {
    .subscribe {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 20px 2rem;
        gap: 30px;
    }

    .subscribe-details {
        width: 100%;
    }

    .subscribe-email {
        width: 100%;
    }

    .subscribe-input {
        margin: 10px 0;
    }

    .subscribe-head {
        font-size: 30px;
    }

    .subscribe-head-2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
}


/* great service */

.great-service {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 3rem 50px 3rem;
    font-family: "Roboto", sans-serif;
}

.great-service p {
    opacity: 0.99;
}

.great-service>div {
    width: 45%;
    border: 1px solid #383434f1;
    padding: 20px 10px 20px 20px;
}

.great-part-1,
.great-part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.great-details {
    width: 60%;
}

.great-details h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

.star-count i {
    font-size: 13px;
    margin: 0 1px;
}

.great-service img {
    width: 200px;
}


@media all and (max-width:768px) {
    .great-service {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 20px;
    }

    .great-service>div {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: justify;
        gap: 20px;
    }

    .great-details {
        width: 100%;
    }
}


/* footer icons */

.payment-icons img {
    width: 36px;
    background-color: #fff;
    margin-right: 5px;
    padding: 1px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.social-icons img {
    width: 25px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2, 1.2);
    transition: 0.2s ease-in-out;
}


.user-error {
    font-size: 13px;
    text-align: center;
    color: rgb(255, 9, 9);
    margin-bottom: 20px;
}

/* quotes */

.quotes {
    display: flex;
    width: 100%;
    padding: 20px 4rem;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.822);
}

.quotes-details .quotes-logo {
    color: #ffbd06e7;
    font-weight: bold;
    font-size: 20px;
}

.quotes-details h3 {
    font-size: 45px;
    margin-top: 10px;
}

.quotes-details h5 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}

.quotes-details p {
    text-align: justify;
    margin: 20px 0;
    opacity: 0.99;
}

.quotes-details .link {
    color: #092122;
    text-decoration: none !important;
    background-color: #fec72f;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

.quotes-details .link:hover {
    color: #fff;
    background-color: #000000;
}

.link-box {
    display: flex;
}


@media all and (max-width:768px) {
    .quotes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 1rem;
        gap: 30px;
    }

    .quotes img{
        width: 300px;
    }

    .quotes-details h3 {
        font-size: 30px;
    }

    .quotes-details h5 {
        font-size: 25px;
    }
    .link-box{
        justify-content: center;
        margin-top: 0;
    }


}