@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* Navbar */
.mynavbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #173334;
  color: #febd2f;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 15px 5rem;
  z-index: 10;
  position: sticky;
  top: 0;
  align-items: center;
  transition: top 0.1s; /* Add transition for smooth effect */
}

.hidden {
  top: -100px; /* Adjust based on navbar height */
}


/* .mynavbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #173334;
  color: #febd2f;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 15px 5rem;
  z-index: 10;
  position: sticky;
  align-items: center;
} */

.navpart1 {
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
}

.navpart2 {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
}

.nav-icon-down {
  color: #fdb10d;
  font-size: 13px;
  opacity: 0.8;
}

.transform-icon{
  transform: rotate(180deg);
}

.user {
  font-size: 19px;
}

.searchicon i{
  font-size: 14px;
}

.search-mini i{
  font-size: 17px !important;
}

.banner {
  display: flex;
  padding: 20px 5rem;
  background-color: #173334;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}

.banner .section-title {
  color: #febd2f;
  font-size: 20px;
  text-align: justify;
}

.banner .section-title .subtitle h1 {
  font-size: 53px;
  padding: 10px 0px;
}


.banner p {
  text-align: justify;
}



.banner-btns a {
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 0;
}

.banner-btns a:hover {
  background-color: rgba(0, 0, 0, 0.856);
  color: #fff;
}

.banner-btns svg {
  color: black;
}

.showbtn {
  background-color: #fff;
  color: black;
  border: none;
  outline: none;
}

.findbtn {
  background-color: #febd2f;
  color: black;
  border: none;
  outline: none;
}
.banner-btns{
  width: 100%;
  display: flex;
  justify-content: baseline;
}

@media all and (max-width:400px) {

  .banner-btns a {
    margin-right: 10px !important;
  }
  
  .banner-btns{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}

.banner-img {
  width: 53%;
}

.banner-img img {
  width: 100%;
}

.section {
  width: 43%;
}

.banner-slide-btn {
  padding: 30px 3px;
  font-size: 21px;
  display: flex;
}

.banner-slide-btn .i {
  color: #febd2f;
  cursor: pointer;
  margin-right: 30px;
}

.banner-slide-btn .i:hover {
  opacity: 0.7;
}

.allproducts, .pages, .category{
  position: fixed;
  background-color: #fcc142;
  top: 0;
  z-index: 2;
  transform: translateY(-100%);
  opacity: 0.6;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
}


.allproducts {
  left: 20%;
}

.pages{
  left: 32%;
}

.category{
  left: 45%;
}


.alltool {
  transform: translateY(18%);
  opacity: 1;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

.pagetool {
  transform: translateY(18%);
  opacity: 1;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

.categorytool {
  transform: translateY(18%);
  opacity: 1;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

.all,
.categoryhead,
.pagehead {
  cursor: pointer;
}

.all:active,
.categoryhead:active,
.pagehead:active {
  opacity: 0.8;
}


.pages-about{
  margin-top: 20px !important;
}

.all-section>div,
.pages>div,
.category>div {
  padding: 5px 10px;
  padding-right: 100px;
  margin: 10px 0px 0 0;
  cursor: pointer;
}

.all-section>div:hover {
  background-color: #173334;
  color: #fff;
}

.category>div:hover {
  background-color: #173334;
  color: #fff;
}

.pages>div:hover {
  background-color: #173334;
  color: #fff;
}

.mininavbar {
  display: none;
}

.bi-person-circle{
  font-size: 21px;
  cursor: pointer;
}


@media all and (max-width:768px) {
  .navpart1 {
    display: none;
  }

  .navpart2 {
    display: none;
  }


  .mynavbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #173334;
    color: #febd2f;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    position: sticky;
    border-bottom: #febd2f 0.5px solid;
    transition: top 0.3s
  }

  .mininavbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .mininavbar>div {
    flex-basis: 50%;
  }

  .minibar i {
    font-size: 17px;
  }
   
  .menubtn i{
    font-size: 17px;
    margin-top: 2px;
  }

  .bi-cart2{
    font-size: 18px !important;
  }
 

  .minibar {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }



  /* banner */


  .banner {
    display: flex;
    padding: 20px;
    background-color: #173334;
    flex-direction: column;
    color: #fff;
    align-items: first baseline;
  }

  .banner .section-title {
    color: #febd2f;
    font-size: 20px;
    text-align: justify;
  }

  .banner .section-title .subtitle h1 {
    font-size: 45px;
    padding: 10px 0px;
  }


  .banner-btns a {
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 0;
  }



  .banner-img {
    width: 100%;
  }

  .banner-img img {
    width: 100%;
  }

  .section {
    width: 100%;
  }

  .banner-slide-btn {
    padding: 30px 3px;
    font-size: 21px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .menulist {
    display: flex !important;
    background-color: #092122;
    color: #febd2f;
    flex-direction: column;
    width: 60%;
    position: absolute;
    position: fixed;
    top: 0;
    left: -300px;
    /* Initially off-screen */
    height: 100%;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow-y: scroll;
    z-index: 11;
  }

}




.menulist {
  display: none;

}

.menulist::-webkit-scrollbar {
  display: none;
}




.menubtn {
  cursor: pointer;
}

.menushow {
  transform: translateX(300px);
}

@media all and (min-width:500px) {
  .menulist {
    left: -300px;
    width: 37%;
  }
}

.menucancel {
  position: absolute;
  right: 0;
  top: 5px;
  padding: 5px 20px;
  font-size: 22px;
  font-weight: 100 !important;
  cursor: pointer;
}

.menuitems {
  color: white;
}

.menulist h2 {
  padding: 10px;
}

details{
  padding: 15px 15px;
  font-size: 17px;
}

details div{
  padding-left: 17px;
  cursor: pointer;
  padding-top: 5px;
  font-size: 15px;
}

details div:hover{
  opacity: 0.7;
}


.nav-icon-down {
  transform: rotate(180%) !important;
}



.cartbtn,
.minicartbtn{
  cursor: pointer;
}

.mycart-content-parent {
  overflow-y: scroll; /* Scroll vertically */
  height: 100%;
  padding-bottom: 150px;
}
.mycart-content-parent::-webkit-scrollbar{
  display: none;
}

.mycart {
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #fff;
  z-index: 22;
  top: 0;
  right: -50%;
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.mycart-show {
  right: 0;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media all and (max-width:768px) {
  .mycart{
    width: 100%;
    right: -100%;
  }
  .mycart-show {
    right: 0%;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
}

.mycart-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #010f0f;
  color: #febd2f;
  padding:10px 20px;
  align-items: center;
}

.mycart-header i{
  font-size: 15px;
}

.mycart-cancel{
  cursor: pointer;
}

.mycart-footer{
  position: absolute;
  bottom: 0px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid rgba(37, 34, 34, 0.479);
}

.mycart-footer-price{
  display: flex;
  flex-direction: row;
  padding: 0 60px;
  justify-content: space-between;
  width: 100%;
}

.proceedcart{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.proceed{
  background-color: #febd2f;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  width: 70%;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  font-family: "Alatsi", sans-serif;
}

.proceed:hover{
  background-color: black;
  color: white;
  transition: 0.2s ease-in-out;
}


.viewcart{
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.viewcart i{
   font-size: 21px;
}




.mycart-content{
  margin: 10px;
  border: 1px solid rgba(43, 42, 42, 0.575);
  color: rgba(5, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 9px;
  font-size: 13px;
  gap: 20px;
  
}

.mycart-content img{
  width: 80px;
}

.mycart-img{
  border: 1px solid rgba(32, 31, 31, 0.63);
  height: 90px;
  align-content: center;
}

.mycart-details{
  display: flex;
  flex-direction: column;
}

.mycart-title{
  font-weight: 400;
  color: black;
}

.mycart-increment{
  display: flex;
  border: 1px solid rgba(32, 31, 31, 0.63);
  justify-content: space-between;
  padding:0px 5px;
}


.trash{
  color: red;
  font-size: 16px;
  align-self: flex-end;
  cursor: pointer;
  margin-left: auto;
  border-radius: 100px;
  
}

.trash:active{
  opacity: 0.4;
}